<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863569946908-bq1oqlvmjsl9r4v4ppfr7ecoppqgpqva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863569946908-bq1oqlvmjsl9r4v4ppfr7ecoppqgpqva</string>
	<key>API_KEY</key>
	<string>AIzaSyCg3Fp-7PoCuAfXiZ_MHDvMP9eaBL2YEHk</string>
	<key>GCM_SENDER_ID</key>
	<string>863569946908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vmo.c3FlutterTemp.staging</string>
	<key>PROJECT_ID</key>
	<string>flutter-temp-clean</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-temp-clean.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863569946908:ios:6f53f56d11f4a0479372d9</string>
</dict>
</plist>